<div class="mt-4">
    <div class="mb-3">
        <div class="row justify-content-center">
            
            <div class="col-md-auto">
                <select class="form-select" id="priceSort" onchange="sortItems()">
                    <option value="default">Sắp xếp theo</option>
                    <option value="asc">Giá tăng dần</option>
                    <option value="desc">Giá giảm dần</option>
                </select>
            </div>

            <div class="col-md-auto">
                <select class="form-select" id="titleFilter" onchange="filterItems()">
                    <option value="all">Quốc gia</option>
                    <option value="Trung Quốc">Trung Quốc</option>
                    <option value="Châu Âu">Châu Âu</option>
                    <option value="Đài Loan">Đài Loan</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Hàn Quốc">Hàn Quốc</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Nhật Bản">Nhật Bản</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Thái Lan">Thái Lan</option>
                </select>
            </div>
            <div class="col-md-auto">
                <select class="form-select" id="vehicleFilter" onchange="filterItems()">
                    <option value="all">Phương tiện</option>
                    <option value="Máy bay">Máy bay</option>
                    <option value="Ô tô">Ô tô</option>
                    <option value="Tàu cao tốc">Tàu cao tốc</option>
                    <option value="Du thuyền">Du thuyền</option>
                    <option value="Cano">Cano</option>
                    <option value="Tàu thủy">Tàu thủy</option>
                </select>
            </div>

            <div class="col-md-auto">
                <button type="button" class="btn btn-secondary" onclick="hintModal()">Gợi ý tour</button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="row del">
        {{#each data}}
        <div class="col-sm-6 col-lg-3" data-title="{{this.[1]}}" data-vehicle="{{this.[6]}}" data-price="{{this.[5]}}">
            <div class="card card-tour-item" style="width: 18rem">
                <img class="card-img-top" src='{{this.[3]}}' alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.[1]}}</h5>
                    <p class="Tour-name">{{this.[2]}}</p>
                    <span class="score-container__inner v-margin-top-5">
                        <script>
                            var value = {{ this.[7]}};
                            var formattedValue = Number.isInteger(value) ? value + ".0" : value;
                            document.write('<span class="score">' + formattedValue + '</span>');
                        </script>
                        <span class="score-description">Tuyệt vời </span>
                    </span>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 v-margin-bottom-5 ">
                        <br>
                        <br>
                        <ul class="trans">
                            <li>{{this.[4]}} Ngày</li>
                            <li class="card-vehicle">{{this.[6]}}</li>
                        </ul>
                    </div>
                    <script>
                        var originalPrice = {{ this.[5] }};
                        var formattedPrice = new Intl.NumberFormat('vi-VN').format(originalPrice);
                        document.write('<span class="price">' + formattedPrice + '<small class="textCurrency"> VND</small></span>');
                    </script>
                    <button class="btn btn-primary" onclick="showBookingModal()">Đặt tour</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="modal fade" id="booking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">XÁC NHẬN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn đặt chuyến du lịch này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-book" type="button" class="btn btn-danger" data-bs-dismiss="modal">Đồng ý</button>
                <button type="button" class="btn btn-secondary" id="btn-cancel" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="booked" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">THÔNG BÁO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn đã đặt chuyến du lịch thành công!</p>
            </div>
            <div class="modal-footer">
                <button id="btn-ok" type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NHẬP DỮ LIỆU CÁC TIÊU CHÍ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="hintForm" action="/hint" method="GET">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" name="budget" placeholder="Ngân sách">
                        <span class="input-group-text" name="newPrice">x1,000,000 VND</span>
                    </div>

                    <div class="input-group mb-3">
                        <input class="form-control" type="text" name="timeFund" placeholder="Quỹ thời gian">
                        <span class="input-group-text" name="newPrice">Ngày</span>
                    </div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" name="Rating" value="Điểm đánh giá: MAX" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <label>Trọng số các tiêu chí</label>
                    </div>
                    <div id="rangeSlider"></div>
                    <div hidden>
                        <input class="form-control" type="text" name="budgetWeight">
                        <input class="form-control" type="text" name="timeFundWeight">
                        <input class="form-control" type="text" name="ratingWeight">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-hint" type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="submit()">Xác nhận</button>
                <button type="button" class="btn btn-secondary" id="btn-cancel" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

<script>

    function hintModal() {
        var hintModal = new bootstrap.Modal(document.getElementById('hint'));
        hintModal.show();
    }

    function showBookingModal() {
        var bookingModal = new bootstrap.Modal(document.getElementById('booking'));
        bookingModal.show();
    }

    document.getElementById('btn-book').addEventListener('click', function () {
        var bookedModal = new bootstrap.Modal(document.getElementById('booked'));
        bookedModal.show();
    });
    function filterItems() {
        var selectedTitle = document.getElementById('titleFilter').value;
        var selectedVehicle = document.getElementById('vehicleFilter').value;

        var items = document.querySelectorAll('.col-sm-6.col-lg-3');

        items.forEach(function (item) {
            var title = item.getAttribute('data-title').toLowerCase();
            var vehicle = item.getAttribute('data-vehicle').toLowerCase();

            if ((selectedTitle === 'all' || title.includes(selectedTitle.toLowerCase())) &&
                (selectedVehicle === 'all' || vehicle.includes(selectedVehicle.toLowerCase()))) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }
    function submit() {
        var form = document.getElementById("hintForm");
        form.submit();
    }
    document.addEventListener('DOMContentLoaded', function () {
        var rangeSlider = document.getElementById('rangeSlider');

        noUiSlider.create(rangeSlider, {
            start: [0.3, 0.7],
            connect: [true, true, true],
            range: {
                'min': 0,
                'max': 1
            }
        });

        rangeSlider.noUiSlider.on('update', function (values, handle) {
            updateRanges(values);
        });
    });

    function updateRanges(values) {
        // Update your form inputs or perform actions based on the slider values
        var budgetInput = document.querySelector('input[name="budgetWeight"]');
        var timeFundInput = document.querySelector('input[name="timeFundWeight"]');
        var ratingInput = document.querySelector('input[name="ratingWeight"]')

        budgetInput.value = values[0];
        timeFundInput.value = values[1] - values[0];
        ratingInput.value = 1 - values[1];
    }
    function sortItems() {
        var selectedSortOption = document.getElementById('priceSort').value;

        var items = document.querySelectorAll('.col-sm-6.col-lg-3');

        var sortedItems = Array.from(items).sort(function (a, b) {
            var priceA = parseFloat(a.getAttribute('data-price'));
            var priceB = parseFloat(b.getAttribute('data-price'));
            if (selectedSortOption === 'asc') {
                return priceA - priceB;
            } else if (selectedSortOption === 'desc') {
                return priceB - priceA;
            } else {
                return 0;
            }
        });

        var container = document.querySelector('.del');
        container.innerHTML = '';

        sortedItems.forEach(function (item) {
            container.appendChild(item);
        });
    }
</script>